

.container{

    width: 97%;
    overflow: hidden;
    background: white;
    margin-top: 700px;
    margin-right: 10px;
    padding: 20px ;

}

.container ul{

    padding: 0px;
    margin: 0px;
}

.container ul li{

    
    list-style: none;
    float: left;
    width: 240px;
    height: 240px;
    background: skyblue;
    margin: 40px 15px 10px 60px;
}
