*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../Images/back.jpg');
    background-position: center;
    background-size: fit;
    font-weight: 300;
    height: 100vh;
    background-repeat: no-repeat;
}
header{
    background: rgba(3, 105, 97, 0.719) ;
    
    
}
.nav-wrapper{

    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block ;
    padding:0 10px ;
    margin-bottom: 0;
}
nav ul li a{
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    cursor: pointer ;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s;
}
nav ul li a:hover{
    border-bottom: 1px solid #ffffff;
}

.login-box{
    top: 90px;
    right: 310px;
    position: relative;
    margin: auto;
    height: 400px;
    width: 600px;
    background: rgb(0, 0, 0,0.4);
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
}
.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
} 
.left-box h1{
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}  
.input-box{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: 1px solid #fff;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    color: #fff;
    background: transparent;
}
.submit-btn{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;

}
.submit-btn:hover, .submit-btn:focus{
    background: #ff5722;
    transition: 0.2s;
}
.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../Images/so.jpg');
    background-position: center;
    background-size: cover;

}
.right-title{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.social{
    
    margin-bottom: 20px;
    
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    transition: 0.2s;
    color: #fff;
    

}
.facebook{
    background: #32508e;
    cursor: pointer;
}
.twitter{
    background: #55acee;
    cursor: pointer;

}
.google{
    background: #dd4b39;
    cursor: pointer;
}
.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.wrapper{
    
    
    position: absolute;
    text-align: center;
    top: 180px;
    right: 100px;
    

}
.wrapper h1{
    
    font-size: 70px;
    color: rgb(255, 255, 255);
    
    
    ;
}
.wrapper h2{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.747);
}
.wrapper h3{
    font-size: 60px;
    color: rgb(255, 255, 255);
    


}
footer{
	position: fixed;
	bottom: 0;
                  opacity: 0.9;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
