
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(#3848e1,#444a87);
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: arial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10em;
    font-weight: 800;
}
.text:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 1.01em;
    background: linear-gradient(0deg,#fff 0,transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.6;

}
